* {
    padding: 0;
    margin: 0;
    text-decoration: none;
 }

.home{
    height: 100%;
    width: 100%;
    background: #3C4048;

}
nav {
    background: #404258;
    position: fixed;
    width: 100%;
    z-index: 10;
    position : fixed;
    top: 0;
    left: 0;
    text-align: center;

}
.navbar ul li{
    display: inline-block;
    margin-top: 11px;
    margin-bottom: 9px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Petrona';
    font-style: normal;
    font-size: 12px;


}
nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
 }

.satu{
    width: 40px;
    font-family: 'Petrona';
    font-style: normal;
    color: white;

    width: 62px;
    height: 27px;
    left: 500px;
    top: 1px;
}

.dua{
    width: 177px;
    font-family: 'Petrona';
    font-style: normal;
    color: white;
    width: 74px;
    height: 27px;
    left: 720px;
    top: 1px;
}

.tiga{
    width: 135px;
    font-family: 'Petrona';
    font-style: normal;
    color: white;
    width: 79px;
    height: 27px;
    left: 980px;
    top: 1px;
}


.project {
    background: #6B728E;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
 }
 .tittleproject {
   padding-bottom: 90px;
   color: azure;
   font-size: 90px;
   text-align: center;

 }
 
 .box {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
 }
 
 .card {
    height: 255px;
    width: 335px;
    margin:0 35px;
    /* padding: 20px 35px; */
    background: #6D9886;
    border-radius: 20px;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 5px;
    font-family: 'Petrona';
    font-style: normal;
    color: #ffff;
    
 }
 .card img {
    width: 290px;
    /* height: 350px; */
    text-align: center;
 }
 .linksertifikat{
    color: #ffff ;
    

 }
 .boxatas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 110px;
 }
 .cardatas {
    height: 35px;
    width: 35px;
    margin:0 5px;
    background: #ffff ;
    border-radius: 7px;
    position: relative;
    text-align: center;
    padding-top: 1px;

 }
 .logogit{
    width: 30px;
    height: 30px;
 }
 .logoig{
    width: 30px;
    height: 30px;
 }
 .logowa{
    width: 30px;
    height: 30px;
 }
 img.tengah{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 180px;
    padding-bottom: 1px;
    width: 270px;
    height: 270px;
}
.nama{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    text-align: center;
    color: azure;
    padding-top: 15px;
    font-size: 35px;
}

.bio{
    padding-top: 15px;
    text-align: center;
    color: azure;
    font-size: 15px;
    padding-bottom: 185px;
}


.contact {
   background: #404258;
   width: 100%;
   padding-top: 25px;
   padding-bottom: 0px;
}

  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10,auto);
    justify-items: center;
  }
  .alamat{
   color: azure;
   font-size: 20px;
   text-align: left;
   padding-left: 50px;
  }
  .isialamat {
   color: azure;
   font-size: 15px;
   padding-top: 40px;
   text-align: left;
  }
  .sosmedbawah{
   color: azure;
   font-size: 20px;
   text-align: right;
   padding-right: 30px;
   padding-left: 450px;
}
.isisosmed{
   color: white;
   font-size: 15px;
   text-align: left;
}















@media only screen and (max-width: 600px) {

  .home{
   width: 800px;
   background: #3C4048;
  
  }
  nav {
      background: #404258;
      position: fixed;
      width: 100%;
      z-index: 10;
      position : fixed;
      top: 0;
      left: 0;
      text-align: center;
  
  }
  .navbar ul li{
      display: inline-block;
      margin-top: 11px;
      margin-bottom: 9px;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Petrona';
      font-style: normal;
      font-size: 12px;
  
  
  }
  nav ul li a {
      color: white;
      font-weight: bold;
      font-size: 18px;
      text-transform: capitalize;
   }
  
  .satu{
      width: 40px;
      font-family: 'Petrona';
      font-style: normal;
      color: white;
  
      width: 62px;
      height: 27px;
      left: 500px;
      top: 1px;
  }
  
  .dua{
      width: 177px;
      font-family: 'Petrona';
      font-style: normal;
      color: white;
      width: 74px;
      height: 27px;
      left: 720px;
      top: 1px;
  }
  
  .tiga{
      width: 135px;
      font-family: 'Petrona';
      font-style: normal;
      color: white;
      width: 79px;
      height: 27px;
      left: 980px;
      top: 1px;
  }

  .project {
      background: #6B728E;
      width: 800px;
      padding-top: 60px;
      padding-bottom: 100px;
   }
   .tittleproject {
     padding-bottom: 90px;
     color: azure;
     font-size: 90px;
     text-align: center;
  
   }
   
   .box {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 25px;
   }
   
   .card {
      height: 166px;
      width: 216px;
      margin:0 35px;
      /* padding: 20px 35px; */
      background: #6D9886;
      border-radius: 20px;
      position: relative;
      text-align: center;
      overflow: hidden;
      padding: 5px;
      font-family: 'Petrona';
      font-style: normal;
      color: #ffff;
      
   }
   .card img {
      width: 200px;
      height: 120px;
      text-align: center;
   }
   .linksertifikat{
      color: #ffff ;
      
  
   }
   .boxatas{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 45px;
      padding-bottom: 110px;
   }
   .cardatas {
      height: 35px;
      width: 35px;
      margin:0 5px;
      background: #ffff ;
      border-radius: 7px;
      position: relative;
      text-align: center;
      padding-top: 1px;
  
   }
   .logogit{
      width: 30px;
      height: 30px;
   }
   .logoig{
      width: 30px;
      height: 30px;
   }
   .logowa{
      width: 30px;
      height: 30px;
   }
   img.tengah{
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 180px;
      padding-bottom: 1px;
      width: 270px;
      height: 270px;
  }
  .nama{
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-style: normal;
      text-align: center;
      color: azure;
      padding-top: 15px;
      font-size: 35px;
  }
  
  .bio{
      padding-top: 15px;
      text-align: center;
      color: azure;
      font-size: 15px;
      padding-bottom: 185px;
  }
  
  
  .contact {
     background: #404258;
     width: 800px;
     padding-top: 25px;
     padding-bottom: 0px;
  }
  
    
    .footer-grid {
      display: grid;
      grid-template-columns: repeat(10, auto);
      grid-template-rows: repeat(10,auto);
      justify-items: center;
    }
    .alamat{
     color: azure;
     font-size: 20px;
     text-align: left;
     padding-left: 30px;
    }
    .isialamat {
     color: azure;
     font-size: 15px;
     padding-top: 40px;
     text-align: left;
    }
    .sosmedbawah{
     color: azure;
     font-size: 20px;
     text-align: right;
     padding-right: 30px;
     padding-left: 350px;
  }
  
}